<app-header></app-header>
<div class="cardxd card-bodyxd blur shadow-blur mx-3 mx-md-4 mt-n6">

        <div class="container py-4">
          <div class="row">
            <div class="col-lg-10 mx-auto d-flex justify-content-center flex-column">
              <div >
                <h3 class="text-center card-header " style="background-color: #3f3e59;" >Agregar Articulo</h3>
              </div>
         <div class ="card-body card blur " >
           
              <form   id="contact-form" method="post"  autocomplete="off"  class="form needs-validation" novalidate>
                <div class="card-body">
                  <div class="row ">
                    <section class="py-7">
                      <div class="container">
                        <div class="row  py-2">
                          <div class="col-lg-12  mx-auto">
                            <div class="col-6">
                              <label class="form-label">Titulo del articulo:</label>
                              <input type="text" class="form-control"  placeholder=" Escribe aqui el titulo del articulo " required>
                              <div class="invalid-feedback">
                                Completa el campo correctamente.
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  
                      <div class="mb-3 p-4">
                        <label for="validationTextarea" class="form-label">Descripción del articulo:</label>
                        <textarea class="form-control" placeholder="Escribe aqui la descripcion del articulo" id="floatingTextarea2" style="height: 100px"></textarea>

                        <div class="invalid-feedback">
                        Es necesario que escribas un articulo.
                        </div>
                      </div>
                    </section>
                    
                  
             
                  </div>
                 
                  <div class="d-grid gap-2 col-5 mx-auto">
                    <button class="btn btn-dark my-4" style="background-color: #3f3e59;" name="registrar" type="submit">Crear articulo</button>
                </div>
               
                </div>
              </form>
            </div>
            </div>
          </div>
        </div>
     
        </div>

    




<app-footer></app-footer>

